@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-text {
	background: linear-gradient(to right, #fb923c, #fb923c, #facc15);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.gradient-bg {
	background: linear-gradient(to right, #fb923c, #fb923c, #facc15);
}
